.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn,
.btn span i {
    font-weight: 600 !important;
    text-transform: uppercase;
}

.btn,
.form-control {
    border-width: 1px;
    font-family: "booster" !important;
    font-size: 15px !important;
}

.form-control:focus {
    border: 1px solid #a26ff9;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(34, 185, 255, 0.11);
    -moz-box-shadow: 0px 3px 20px 0px rgba(34, 185, 255, 0.11);
    box-shadow: 0px 3px 20px 0px rgba(34, 185, 255, 0.11);
}

.form-control:hover {
    -webkit-box-shadow: 0px 3px 20px 0px rgba(34, 185, 255, 0.11);
    -moz-box-shadow: 0px 3px 20px 0px rgba(34, 185, 255, 0.11);
    box-shadow: 0px 3px 20px 0px rgba(34, 185, 255, 0.11);
}

.jp-card .jp-card-front .jp-card-lower .jp-card-name,
.jp-card .jp-card-front .jp-card-lower .jp-card-number,
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry,
.jp-card .jp-card-front .jp-card-lower .jp-card-cvc {
    font-family: "booster" !important;
    font-weight: 600;
}

.btn-facebook {
    color: #fff !important;
    border-color: #3b5998 !important;
    background-color: #3b5998;
    padding-left: 14px;
    padding-right: 14px;
    text-transform: lowercase;
}

.btn-facebook:hover {
    color: #fff;
    border-color: #324b80;
    background-color: #324b80;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19) !important;
    -moz-box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19) !important;
    box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19) !important;
}

.btn-google {
    color: #fff !important;
    border-color: #dd4b39 !important;
    background-color: #dd4b39;
    padding-left: 14px;
    padding-right: 14px;
    text-transform: lowercase;
}

.btn-google:hover {
    color: #fff;
    border-color: #d03724;
    background-color: #d03724;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19) !important;
    -moz-box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19) !important;
    box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19) !important;
}

.btn-twitter {
    color: #fff !important;
    border-color: #1da1f2 !important;
    background-color: #1da1f2;
    padding-left: 14px;
    padding-right: 14px;
    text-transform: lowercase;
}

.btn-twitter:hover {
    color: #fff;
    border-color: #0d90e0;
    background-color: #0d90e0;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19) !important;
    -moz-box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19) !important;
    box-shadow: 0px 5px 10px 2px rgba(152, 22, 244, 0.19) !important;
}

.m-login__container {
    width: 420px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #d3e0e9;
    border-top: 5px solid #a26ff9;
    padding: 40px;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.m-login__title {
    color: #9e97aa;
    font-weight: 400;
}

.navbar-brand {
    font-weight: 600 !important;
}

.nav-link,
.m-nav__link-text {
    font-weight: 500 !important;
}

.nav-link:hover,
.m-nav__link:hover {
    color: #9816f4 !important;
}
.navbar {
    height: 60px;
    margin-right: 0px !important;
    border-bottom: 0.07rem solid #ebedf2;
}

#search-input {
    width: 400px;
}

.blur {
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

.m-dropdown__wrapper {
    padding-top: 1px !important;
}

.m-dropdown__inner {
    border-radius: 0px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-top: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.card-info {
    padding-top: 20px;
    padding-bottom: 15px;
}

.card-title {
    color: #212529;
    font-weight: 600;
}

.card-img,
.img-link {
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

.card-img:hover,
.img-link:hover {
    opacity: 0.5;
}

.channel-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.channel-img:hover {
    opacity: 0.9;
}

.video-views {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.avatar {
    width: auto;
    height: 43px;
    padding: 2px;
    border: 1px solid #fafafa;
}

.avatar:hover {
    opacity: 0.9;
}

.video__votes {
    color: #c1bfd0;
    padding-right: 30px;
}

.modal-btn {
    height: 51px !important;
    line-height: 47px !important;
    padding: 0 31px !important;
    font-weight: 600 !important;
}

.m-datatable__table {
    border-radius: 4px;
}

.m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table {
    min-height: auto !important;
}

#addNewImage,
#addNewVideo {
    font-size: 11pt !important;
    padding-left: 25px;
    padding-right: 25px;
}

.video-placeholder {
    position: relative;
    background-color: #111;
    padding-top: 46.25%;
    width: 100%;
    max-width: 100%;
}

.video-placeholder__header {
    position: absolute;
    top: 45%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
}

.top-border {
    height: 3px;
    background-image: linear-gradient(to right, #fc00ff, #00dbde);
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.aa-input-container {
    display: inline-block;
    position: relative;
}

.aa-dropdown-menu {
    background-color: #fff;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: none;
    font-family: "booster", sans-serif;
    width: 100%;
    margin-top: 11px;
    font-size: 14px;
    box-sizing: border-box;
}

.aa-suggestion {
    color: #6f727d;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aa-suggestion:hover,
.aa-suggestion.aa-cursor {
    background: #f7f8fa;
}

.aa-suggestion > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.aa-suggestion span:first-child {
    color: #6f727d;
}

.aa-suggestion span:last-child {
    font-size: 14px;
    color: #a9a9a9;
}

.aa-suggestion img {
    max-width: 80px;
    margin-right: 10px;
}

.aa-suggestions-category {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #9816f4;
    font-weight: 600;
    padding: 6px 12px;
    text-align: left;
    text-transform: uppercase;
}

.aa-suggestion span:first-child em,
.aa-suggestion span:last-child em {
    font-weight: 600;
    font-style: normal;
    color: #000;
    border-radius: 3px;
    padding: 2px 0 2px 2px;
}

.aa-dropdown-menu > div {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.aa-empty {
    padding: 6px 12px;
}

.ap-input-icon,
.ap-icon-pin {
    bottom: 20px;
    right: 20px;
}

.ap-input-icon svg {
    fill: #e5e5e5;
}

.ap-input {
    line-height: 40px;
    height: 39px;
}
.ap-icon-clear,
.ap-icon-pin {
    display: none;
}

.jp-card.jp-card-identified {
    box-shadow: none !important;
}

.page-preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.page-preloading .page-wrapper {
    opacity: 0;
    -webkit-transition: all 0.5s 0.3s;
    -o-transition: all 0.5s 0.3s;
    transition: all 0.5s 0.3s;
}

.page-preloading .page-preloader {
    visibility: visible;
    opacity: 1;
}

.page-preloading.loading-done .page-wrapper {
    opacity: 1;
}

.page-preloading.loading-done .page-preloader {
    visibility: hidden;
    opacity: 0;
}

.page-preloading.loading-done.link-clicked .page-wrapper {
    opacity: 0;
}

.preloader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
}

#preloader-icon:before {
    width: 2rem;
    height: 2rem;
}

.ap-dropdown-menu {
    box-shadow: none;
    border: 1px solid #ebedf2;
    border-radius: 3px;
    background: #fff;
    width: 100%;
}

.ap-footer,
.ap-suggestion-icon svg {
    display: none;
}

.ap-suggestion {
    padding-left: 3px;
}
